.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 250px;
    z-index: 1;
    background-color: #449933;
    color: white;
    height: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;
}

.admin-header-logo {
    width: 90%;
}

.sidebar-header {
    padding: 10px;
    flex: 1;
}

.admin-logout {
    flex: 2;
}

.sidebar-menu {
    flex: 9;
}