.desk-options-container {
    height: 180px !important;
    width: 30%;
    flex-grow: 1;
    border: 5px solid #0b5715;
}

.configure-floor-select {
    width: 10% !important;
}

.f20 {
    font-size: 20px;
}

.desk-option {
    border: 3px solid #449933;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}